body {
    background-color: #000000;
    text-align: center;
    color: white;
}
/* css code for bouncy bouncy taken from https://github.com/clemmurphy/DVD-Logo-Animation */
:root {
  --width:250px;
  --height:calc(var(--width) / 2);
}

.notamarquee {
  height: var(--height);
  width: var(--width);
  background: img src=("MAMAMAMA.gif");
  position:absolute;

  animation: toRight linear 6.8s infinite alternate, bounce linear 17s infinite alternate;
}

@keyframes bounce {
  0% {
    top:0;
  }
  48% {
  }
  50% {
    top: calc(100% - var(--height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {

  0% {
    left: 0;
  }

  100% {
    left: calc(100% - var(--width));
  }
}
.slideshow {
    border: 7px solid #ff7f27;
    text-align: left;
}
.linktable {
    padding: 50px;
}
.link1 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #22b14c;
}
.link2 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #3f48cc;
}
.link3 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #ed1c24;
}
.link4 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #ffaec9;
}
.pix {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
