body {
    background-color: #000000;
    text-align: center;
    color: white;
}
.notamarquee {
    text-align: right;
    margin-bottom: 100px;
}
.slideshow {
    border: 7px solid #ff7f27;
    text-align: left;
}
.linktable {
    padding: 50px;
}
.link1 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #22b14c;
}
.link2 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #3f48cc;
}
.link3 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #ed1c24;
}
.link4 {
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    color: #ffaec9;
}
.pix {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
